// Import Font
@import url('https://fonts.googleapis.com/css2?family=Castoro&family=Lato:wght@400;700&display=swap');

// Colors
$clr-primary: hsl(176, 61%, 19%);
$clr-secondary: hsl(45, 86%, 97%);

$clr-neutral-100: hsl(0, 0%, 18%);
$clr-neutral-900: hsl(0, 0%, 97%);
$clr-neutral-1000: hsl(0, 0%, 100%);

// Font Family
$fs-body: 'Lato', sans-serif;
$fs-heading: 'Castoro', serif;
